html {
  font-size: 62.5%; }

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
  padding: 0; }

body {
  -webkit-tap-highlight-color: transparent; }

ol, ul, textarea, input, option, th, td {
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol {
  list-style-type: none; }

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

input[type=text], textarea {
  -webkit-appearance: none; }

input:focus {
  -webkit-user-modify: read-write-plaintext-only; }

fieldset, img {
  border: 0; }

a {
  text-decoration: none; }

a, textarea {
  outline: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

body, html, #app, .checkOrder_wrap {
  width: 100%;
  height: 100%; }

.b_wrap {
  border-bottom: 1px solid #394b63; }

.b_wrap a:hover {
  background: #2b3646; }

.open1 img:nth-of-type(2) {
  display: none; }
.open1 img:nth-of-type(3) {
  display: inline-block; }

#withdraw_wrap img:nth-of-type(2) {
  margin-left: 50px; }

#bank_wrap img:nth-of-type(2) {
  margin-left: 35px; }

.open2 {
  display: none; }

.open1 img:nth-of-type(3) {
  float: right;
  margin-right: 27px;
  margin-top: 18px; }

#withdraw, #bankList {
  display: none; }

.withdraw_wrap, .record_wrap, .settlement_wrap, .bankCard_wrap, .record_wrap, .editCard_wrap, .detail_wrap, .addCard_wrap, .product_wrap, .addProduct_wrap {
  background: #eaeef4;
  height: 100%;
  overflow: scroll;
  margin-left: 200px;
  margin-top: 70px;
  min-width: 710px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px; }
  .withdraw_wrap h1, .record_wrap h1, .settlement_wrap h1, .bankCard_wrap h1, .record_wrap h1, .editCard_wrap h1, .detail_wrap h1, .addCard_wrap h1, .product_wrap h1, .addProduct_wrap h1 {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 9px;
    margin: 20px 0;
    color: #333; }

.withdraw_wrap h2, .settlement_wrap h2, .bankCard_wrap h2, .product_wrap h2 {
  font-size: 18px;
  margin: 30px 0 15px 0;
  color: #2799eb; }
.withdraw_wrap .content_top, .withdraw_wrap .content_bottom, .settlement_wrap .content_top, .settlement_wrap .content_bottom, .bankCard_wrap .content_top, .bankCard_wrap .content_bottom, .product_wrap .content_top, .product_wrap .content_bottom {
  overflow: hidden;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px; }
.withdraw_wrap .content_top, .settlement_wrap .content_top, .bankCard_wrap .content_top, .product_wrap .content_top {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 30px; }
  .withdraw_wrap .content_top h1, .settlement_wrap .content_top h1, .bankCard_wrap .content_top h1, .product_wrap .content_top h1 {
    line-height: 2.5;
    font-size: 18px; }
  .withdraw_wrap .content_top .heading, .settlement_wrap .content_top .heading, .bankCard_wrap .content_top .heading, .product_wrap .content_top .heading {
    color: #666;
    font-size: 14px;
    margin-bottom: 25px; }
  .withdraw_wrap .content_top p, .settlement_wrap .content_top p, .bankCard_wrap .content_top p, .product_wrap .content_top p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px; }
.withdraw_wrap .content_bottom, .settlement_wrap .content_bottom, .bankCard_wrap .content_bottom, .product_wrap .content_bottom {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 25px;
  padding-top: 1px; }
  .withdraw_wrap .content_bottom span, .withdraw_wrap .content_bottom i, .settlement_wrap .content_bottom span, .settlement_wrap .content_bottom i, .bankCard_wrap .content_bottom span, .bankCard_wrap .content_bottom i, .product_wrap .content_bottom span, .product_wrap .content_bottom i {
    font-size: 14px;
    color: #333; }
  .withdraw_wrap .content_bottom input, .settlement_wrap .content_bottom input, .bankCard_wrap .content_bottom input, .product_wrap .content_bottom input {
    margin-left: 20px;
    margin-right: 40px;
    width: 180px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px; }
  .withdraw_wrap .content_bottom i, .settlement_wrap .content_bottom i, .bankCard_wrap .content_bottom i, .product_wrap .content_bottom i {
    font-style: normal; }
  .withdraw_wrap .content_bottom textarea, .settlement_wrap .content_bottom textarea, .bankCard_wrap .content_bottom textarea, .product_wrap .content_bottom textarea {
    width: 90%;
    margin-left: 20px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .withdraw_wrap .content_bottom textarea:focus, .settlement_wrap .content_bottom textarea:focus, .bankCard_wrap .content_bottom textarea:focus, .product_wrap .content_bottom textarea:focus {
    border-style: solid;
    border-color: #108EE9;
    -webkit-box-shadow: 0 0 1px #108EE9;
    box-shadow: 0 0 1px #108EE9; }
  .withdraw_wrap .content_bottom button, .settlement_wrap .content_bottom button, .bankCard_wrap .content_bottom button, .product_wrap .content_bottom button {
    width: 100px;
    height: 30px;
    border: 1px solid #42a5df;
    border-radius: 3px;
    line-height: 28px;
    padding: 0;
    border: 1px solid #42a5df; }
  .withdraw_wrap .content_bottom button:nth-of-type(1), .settlement_wrap .content_bottom button:nth-of-type(1), .bankCard_wrap .content_bottom button:nth-of-type(1), .product_wrap .content_bottom button:nth-of-type(1) {
    background: #42a5df;
    color: #fff;
    font-size: 14px;
    margin-right: 20px; }
  .withdraw_wrap .content_bottom button:nth-of-type(2), .settlement_wrap .content_bottom button:nth-of-type(2), .bankCard_wrap .content_bottom button:nth-of-type(2), .product_wrap .content_bottom button:nth-of-type(2) {
    background: #fff;
    color: #42a5df;
    font-size: 14px; }

.settlement_wrap .content_bottom select {
  width: 430px;
  display: inline-block; }

.record_wrap .search {
  height: 230px !important;
  background: #fff; }
  .record_wrap .search h1 {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 9px;
    margin: 20px 0;
    color: #333; }
  .record_wrap .search .num span, .record_wrap .search .search_info span {
    color: #333;
    font-size: 14px;
    margin-right: 18px;
    vertical-align: middle; }
  .record_wrap .search .num input, .record_wrap .search .search_info input {
    width: 176px;
    height: 30px;
    border: 1px solid #bababa;
    font-size: 14px;
    text-indent: 10px; }
  .record_wrap .search .search_info select {
    width: 176px;
    height: 30px;
    border: 1px solid #bababa;
    font-size: 14px;
    color: #666; }
  .record_wrap .search .search_info select:nth-of-type(1) {
    margin-right: 50px; }
  .record_wrap .search .search_info button {
    width: 50px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background: #42a5df;
    margin-left: 16px; }
.record_wrap .totle {
  background: #fff; }
.record_wrap table {
  background: #fff; }
  .record_wrap table tr td {
    text-align: center; }
    .record_wrap table tr td a {
      color: #108ee9; }

.bankCard_wrap .content_top h1 a, .product_wrap .content_top h1 a {
  font-size: 14px;
  color: #108ee9 !important;
  margin-left: 20px; }
.bankCard_wrap .content_top .search div, .product_wrap .content_top .search div {
  float: left;
  margin-right: 30px; }
  .bankCard_wrap .content_top .search div span, .product_wrap .content_top .search div span {
    color: #333;
    font-size: 14px;
    margin-right: 18px;
    vertical-align: middle; }
  .bankCard_wrap .content_top .search div input, .product_wrap .content_top .search div input {
    width: 176px;
    height: 30px;
    border: 1px solid #bababa;
    font-size: 14px;
    text-indent: 10px; }
.bankCard_wrap .content_top .search .search_info select, .product_wrap .content_top .search .search_info select {
  width: 176px;
  height: 30px;
  border: 1px solid #bababa;
  font-size: 14px;
  color: #666; }
.bankCard_wrap .content_top .search .search_info button, .product_wrap .content_top .search .search_info button {
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  background: #42a5df;
  margin-left: 16px;
  vertical-align: middle; }
.bankCard_wrap table, .product_wrap table {
  width: 100%;
  background: #fff;
  font-size: 14px;
  color: #333; }
  .bankCard_wrap table thead td, .product_wrap table thead td {
    height: 48px;
    vertical-align: middle;
    text-align: center; }
  .bankCard_wrap table tbody tr, .product_wrap table tbody tr {
    height: 56px;
    vertical-align: middle; }
    .bankCard_wrap table tbody tr td, .product_wrap table tbody tr td {
      vertical-align: middle;
      text-align: center; }
      .bankCard_wrap table tbody tr td a, .product_wrap table tbody tr td a {
        color: #108ee9; }
    .bankCard_wrap table tbody tr .color, .product_wrap table tbody tr .color {
      color: #e9662c; }
  .bankCard_wrap table tbody tr:nth-of-type(odd), .product_wrap table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; }

.detail_wrap .content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
  background: #fff; }
  .detail_wrap .content h1 {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 9px;
    margin: 20px 0;
    color: #333; }
  .detail_wrap .content .detail {
    border: 1px solid #ccc; }
    .detail_wrap .content .detail h2 {
      width: 100%;
      height: 56px;
      line-height: 56px;
      background: #f5f5f5;
      border-bottom: 1px solid #ccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 15px;
      font-size: 14px;
      color: #000; }
    .detail_wrap .content .detail p {
      font-size: 14px;
      color: #000;
      line-height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 15px; }
      .detail_wrap .content .detail p span {
        color: #666;
        margin-left: 15px; }
    .detail_wrap .content .detail hr {
      border: 1px dashed #ccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-left: 15px;
      margin-right: 15px; }
  .detail_wrap .content button {
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    margin-top: 32px; }

.settlement_wrap select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .settlement_wrap select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px; }

.record_body, .bankList_body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px; }
  .record_body .border_wrap, .bankList_body .border_wrap {
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px; }
    .record_body .border_wrap table, .bankList_body .border_wrap table {
      width: 100%;
      background: #fff;
      font-size: 14px;
      color: #333; }
      .record_body .border_wrap table tr, .bankList_body .border_wrap table tr {
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      .record_body .border_wrap table td, .bankList_body .border_wrap table td {
        vertical-align: middle;
        text-align: center;
        border: 1px solid #ddd;
        padding: 5px; }
      .record_body .border_wrap table tr:nth-of-type(odd), .bankList_body .border_wrap table tr:nth-of-type(odd) {
        background: #f9f9f9; }
      .record_body .border_wrap table thead tr, .bankList_body .border_wrap table thead tr {
        background: #fff !important; }
      .record_body .border_wrap table thead td, .bankList_body .border_wrap table thead td {
        height: 48px; }
      .record_body .border_wrap table tbody tr, .bankList_body .border_wrap table tbody tr {
        height: 56px;
        vertical-align: middle; }
      .record_body .border_wrap table tbody tr:nth-of-type(odd), .bankList_body .border_wrap table tbody tr:nth-of-type(odd) {
        background-color: #f9f9f9; }

.addCard_wrap .content, .editCard_wrap .content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px;
  background: #fff;
  padding-top: 1px !important; }
  .addCard_wrap .content h1, .editCard_wrap .content h1 {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 9px;
    margin: 20px 0;
    color: #333;
    line-height: 2.5; }
  .addCard_wrap .content .addCard_body, .addCard_wrap .content .edit_body, .editCard_wrap .content .addCard_body, .editCard_wrap .content .edit_body {
    width: 100%; }
    .addCard_wrap .content .addCard_body hr, .addCard_wrap .content .edit_body hr, .editCard_wrap .content .addCard_body hr, .editCard_wrap .content .edit_body hr {
      width: 95%;
      border: 1px dashed #ccc;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .addCard_wrap .content .addCard_body button, .addCard_wrap .content .edit_body button, .editCard_wrap .content .addCard_body button, .editCard_wrap .content .edit_body button {
      width: 50px;
      height: 30px;
      font-size: 14px;
      color: #fff;
      line-height: 30px;
      background: #42a5df;
      padding: 0;
      margin-top: 32px;
      margin-right: 20px; }
    .addCard_wrap .content .addCard_body div, .addCard_wrap .content .edit_body div, .editCard_wrap .content .addCard_body div, .editCard_wrap .content .edit_body div {
      width: 100%;
      margin: 30px 0; }
      .addCard_wrap .content .addCard_body div span, .addCard_wrap .content .edit_body div span, .editCard_wrap .content .addCard_body div span, .editCard_wrap .content .edit_body div span {
        font-size: 14px;
        color: #000; }
      .addCard_wrap .content .addCard_body div select, .addCard_wrap .content .edit_body div select, .editCard_wrap .content .addCard_body div select, .editCard_wrap .content .edit_body div select {
        width: 90%;
        height: 34px;
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px; }
        .addCard_wrap .content .addCard_body div select option, .addCard_wrap .content .edit_body div select option, .editCard_wrap .content .addCard_body div select option, .editCard_wrap .content .edit_body div select option {
          width: 100%; }
      .addCard_wrap .content .addCard_body div input, .addCard_wrap .content .edit_body div input, .editCard_wrap .content .addCard_body div input, .editCard_wrap .content .edit_body div input {
        width: 90%;
        height: 30px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px; }
      .addCard_wrap .content .addCard_body div textarea, .addCard_wrap .content .edit_body div textarea, .editCard_wrap .content .addCard_body div textarea, .editCard_wrap .content .edit_body div textarea {
        width: 90%;
        margin-left: 20px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        margin-bottom: 35px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 4px; }
    .addCard_wrap .content .addCard_body div:nth-of-type(2) select, .addCard_wrap .content .edit_body div:nth-of-type(2) select, .editCard_wrap .content .addCard_body div:nth-of-type(2) select, .editCard_wrap .content .edit_body div:nth-of-type(2) select {
      margin-left: 14px; }
    .addCard_wrap .content .addCard_body div:nth-of-type(3) select, .addCard_wrap .content .edit_body div:nth-of-type(3) select, .editCard_wrap .content .addCard_body div:nth-of-type(3) select, .editCard_wrap .content .edit_body div:nth-of-type(3) select {
      width: 146px;
      display: inline-block;
      margin-right: 11px;
      margin-bottom: 10px; }
      .addCard_wrap .content .addCard_body div:nth-of-type(3) select option, .addCard_wrap .content .edit_body div:nth-of-type(3) select option, .editCard_wrap .content .addCard_body div:nth-of-type(3) select option, .editCard_wrap .content .edit_body div:nth-of-type(3) select option {
        width: 100%; }
    .addCard_wrap .content .addCard_body div:nth-of-type(3) input, .addCard_wrap .content .edit_body div:nth-of-type(3) input, .editCard_wrap .content .addCard_body div:nth-of-type(3) input, .editCard_wrap .content .edit_body div:nth-of-type(3) input {
      margin-left: 60px; }
    .addCard_wrap .content .addCard_body div:nth-of-type(4) input, .addCard_wrap .content .edit_body div:nth-of-type(4) input, .editCard_wrap .content .addCard_body div:nth-of-type(4) input, .editCard_wrap .content .edit_body div:nth-of-type(4) input {
      margin-left: 13px; }
    .addCard_wrap .content .addCard_body div:nth-of-type(6) select, .addCard_wrap .content .edit_body div:nth-of-type(6) select, .editCard_wrap .content .addCard_body div:nth-of-type(6) select, .editCard_wrap .content .edit_body div:nth-of-type(6) select {
      margin-left: 25px; }
    .addCard_wrap .content .addCard_body div:nth-of-type(7) span, .addCard_wrap .content .edit_body div:nth-of-type(7) span, .editCard_wrap .content .addCard_body div:nth-of-type(7) span, .editCard_wrap .content .edit_body div:nth-of-type(7) span {
      vertical-align: top; }

.product_wrap .content_top .search {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  height: 140px; }
  .product_wrap .content_top .search div {
    width: 254px;
    height: 30px; }
    .product_wrap .content_top .search div span {
      color: #333;
      font-size: 14px;
      margin-right: 18px;
      vertical-align: middle; }
    .product_wrap .content_top .search div select {
      width: 176px;
      height: 30px;
      border: 1px solid #bababa;
      font-size: 14px;
      color: #666; }
  .product_wrap .content_top .search .search_button {
    margin-top: 35px;
    width: 100%; }
    .product_wrap .content_top .search .search_button button {
      width: 96px;
      height: 30px;
      font-size: 14px;
      color: #fff;
      background: #42a5df;
      margin-left: 46px;
      vertical-align: middle; }

.addProduct_wrap .content {
  height: 400px !important; }
  .addProduct_wrap .content h1 span {
    font-size: 14px;
    color: #42a5df;
    margin-left: 30px;
    cursor: pointer; }
    .addProduct_wrap .content h1 span img {
      vertical-align: middle; }
  .addProduct_wrap .content .name span {
    color: #333;
    font-size: 14px;
    margin-right: 18px;
    vertical-align: middle; }
  .addProduct_wrap .content .name input {
    width: 176px;
    height: 30px;
    border: 1px solid #bababa;
    font-size: 14px;
    text-indent: 10px; }
  .addProduct_wrap .content .name p {
    width: 500px;
    display: inline-block; }
    .addProduct_wrap .content .name p #show_err {
      color: red; }
    .addProduct_wrap .content .name p img {
      vertical-align: middle;
      margin-right: 5px;
      margin-left: 10px; }
  .addProduct_wrap .content .type span {
    color: #333;
    font-size: 14px;
    margin-right: 18px;
    vertical-align: middle; }
  .addProduct_wrap .content .type select {
    width: 176px;
    height: 30px;
    border: 1px solid #bababa;
    font-size: 14px;
    color: #666;
    margin-top: 32px;
    margin-bottom: 32px; }
  .addProduct_wrap .content .pay_type {
    width: 100%;
    height: 32px;
    margin-bottom: 40px; }
    .addProduct_wrap .content .pay_type span {
      float: left;
      vertical-align: middle;
      height: 30px;
      line-height: 30px;
      margin-right: 8px;
      font-size: 14px;
      color: #333; }
    .addProduct_wrap .content .pay_type .check_box {
      width: 100%;
      height: 100%; }
      .addProduct_wrap .content .pay_type .check_box label {
        width: 110px;
        height: 30px;
        float: left;
        margin-left: 15px; }
        .addProduct_wrap .content .pay_type .check_box label div {
          width: 100%;
          height: 100%;
          border: 1px solid #dfdfdf;
          color: #666;
          text-align: center;
          line-height: 30px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
      .addProduct_wrap .content .pay_type .check_box input {
        opacity: 0;
        display: none; }
      .addProduct_wrap .content .pay_type .check_box input[type="checkbox"]:checked + div {
        border: 1px solid #42a5df;
        background: url(../img/ic_sj.png) no-repeat right bottom; }
  .addProduct_wrap .content button {
    width: 100px;
    height: 30px;
    border: 1px solid #42a5df;
    border-radius: 3px;
    line-height: 28px;
    padding: 0;
    border: 1px solid #42a5df; }
  .addProduct_wrap .content button:nth-of-type(1) {
    background: #42a5df;
    color: #fff;
    font-size: 14px;
    margin-right: 20px; }
  .addProduct_wrap .content button:nth-of-type(2) {
    background: #fff;
    color: #42a5df;
    font-size: 14px; }

/*# sourceMappingURL=console.css.map */
